JFXTextField {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

JFXCheckBox .box{
    -fx-background-color: #4717F6;
    -fx-border-color: #4717F6;
}

JFXPasswordField {
    -fx-prompt-text-fill: white;
}

JFXDatePicker{
    -fx-font-size: 24px;
    -fx-prompt-text-fill: white;
}

JFXDatePicker .text-field{
    -jfx-unfocus-color: #4717F6;
    -fx-prompt-text-fill: white;
}

JFXDatePicker .label{
    -fx-font-size: 15px;
}